asn1crypto==1.5.1
badges @ git+https://github.com/EntySec/Badges@8767dca15b6c606935f22ffb5901b4100831e92b
blinker==1.7.0
Brlapi==0.8.5
camover @ git+https://github.com/EntySec/CamOver@478c4f3255de8d6582dfc0658461fa14c5e0ce1b
catfish==4.16.4
certifi==2024.2.2
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
colorama==0.4.6
colorscript @ git+https://github.com/EntySec/ColorScript@b6f59d4e068832e60d52960d898186ed2d63a5b6
dbus-python==1.3.2
distro==1.9.0
filelock==3.13.1
Flask==3.0.2
html5lib==1.1
idna==2.8
itsdangerous==2.1.2
Jinja2==3.1.3
kali-tweaks==2023.3.2
libretranslatepy==2.1.1
lightdm-gtk-greeter-settings==1.2.2
louis==3.28.0
lxml==5.1.0
MarkupSafe==2.1.5
mechanize==0.4.9
netifaces==0.11.0
onboard==1.4.1
pexpect==4.9.0
ptyprocess==0.7.0
pycairo==1.25.1
pyfiglet==1.0.2
PyGObject==3.46.0
pyngrok==7.1.3
pyshorteners==1.0.1
pyTelegramBotAPI==4.16.1
python-apt==2.7.0+b1
pyxdg==0.28
PyYAML==6.0.1
requests==2.31.0
requests-file==2.0.0
shodan==1.31.0
six==1.16.0
telebot==0.0.5
tldextract==5.1.1
translate==3.6.1
urllib3==1.25.11
webencodings==0.5.1
Werkzeug==3.0.1
xdg==5
XlsxWriter==3.2.0
